# The GroupName here is used to identify your company or business unit that
# created this webhook.
# For example, this may be "acme.mycompany.com".
# This name will need to be referenced in each Issuer's `webhook` stanza to
# inform cert-manager of where to send ChallengePayload resources in order to
# solve the DNS01 challenge.
# This group name should be **unique**, hence using your own company's domain
# here is recommended.
groupName: acme.mycompany.com

certManager:
  namespace: cert-manager
  serviceAccountName: cert-manager

image:
  repository: csp33/cert-manager-duckdns-webhook
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

clusterIssuer:
  email: ~
  production:
    create: false
    server: https://acme-v02.api.letsencrypt.org/directory
    name: duckdns-letsencrypt-prod
  staging:
    create: false
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    name: duckdns-letsencrypt-staging

token:
  value: ~
  existingSecretName: "" # Secret must have the token in the `api-token` key

service:
  type: ClusterIP
  port: 443

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
